<app-navbar></app-navbar>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-8" >
    <div class="card col" *ngFor="let item of productItems; index as i">
      <form (ngSubmit)="addItemToCart(item)">
        <div>
          <div class="add-to-fav" *ngIf="checkFavourite(item) else favourite">
            <i (click)="likeProduct(item)" class="bx bx-heart bx-sm"></i>
          </div>
          <ng-template #favourite>
            <div class="favourite-icon" >
              <i class="bx bxs-heart bx-sm" (click)="unlikeProduct(item)"></i>
            </div>
          </ng-template>
          <!-- <img src="assets/SUT-Logo.png" class="card-img-top"> -->
          <img src="assets/SUT-Logo.png" class="card-img-top">

          <div class="card-body" (click)="goToDetails(item)">
            <p class="title">{{ item.title }}</p>
            <div class="stars">
              <i
                class="fa"
                *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                [ngClass]="{
                  'fa-star': getProductRating(item.id) > 0 && fullStars(getProductRating(item.id), i),
                  'fa-star-half-o': getProductRating(item.id) > 0 && isHalfStar(getProductRating(item.id), i),
                  'fa-star-o': getProductRating(item.id) === 0 || emptyStars(getProductRating(item.id), i)
                }"
              ></i>
            </div>  
            <p class="price">฿{{ item.price }}</p>
            <p class="quantity">เหลือ: {{ item.quantity }} ชิ้น</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="main-btn w-100">เพิ่มในรถเข็น</button>   
        </div>
      </form>
      <button class="main-btn w-100" (click)="goToDetails(item)">รายละเอียด</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
