<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="card col-5 img-container">
      <img src="assets/SUT-Logo.png" class="product-image" />
    </div>
    <div class="col-1"></div>
    <div class="col-5" *ngIf="product">
      <div class="title">
        <h1 class="title">{{ product.title }}</h1>
      </div>
      <div class="d-flex justify-content-start align-items-center">
        <div class="review-summary">** REVIEW SUMMARY **</div>
        <div class="add-to-fav ms-5">
          <i class='bx bx-heart bx-sm'></i>
        </div>
      </div>
      
      
      <h1 class="price">฿{{ product.price }}</h1>

      <div class="d-flex justify-content-start align-items-center">
        <div class="quantity d-flex align-items-center me-3">
          <button (click)="decreaseQuantity()" class="btn btn-outline-secondary btn-sm">-</button>
          <input type="input" [(ngModel)]="quantityToOrder" class="form-control mx-2 text-center quantity-input"
            [min]="1" [max]="product.quantity" />
          <button (click)="increaseQuantity()" class="btn btn-outline-secondary btn-sm">+</button>
        </div>
        <div class="amount">
          มีสินค้าทัั้งหมด {{ product.quantity }} ชิ้น
        </div>
      </div>
      <!-- <h2 class="review">รีวิว</h2> -->
      <button type="button" class="main-btn mt-5" (click)="addItemToCart()">เพิ่มในรถเข็น</button>
    </div>
    <hr />
    <!-- Section รีวิว -->
    <h2 *ngIf="reviews">รีวิว</h2>
    <div class="review-container" *ngIf="reviews">
      <div class="review-card" *ngFor="let review of reviews">
        <div class="stars">
          <i
            class="fa"
            *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
            [ngClass]="i < review.star ? 'fa-star' : 'fa-star-o'"
          ></i>
        </div>
        <div>{{review.user?.firstName}} : {{ review.comment }}</div>
        <div class="review-edit" *ngIf="review.userId == userId">
          <button class="review-btn" (click)="NavigateToReview(review.productId)">แก้ไขรีวิว</button>
        </div>
      </div>
    </div>
    <div *ngIf="!reviews">
      <p>ยังไม่มีรีวิวสำหรับสินค้านี้</p>
    </div>
  </div>
</div>

<app-footer></app-footer>