<div class="body">
  <div class="table-container">
    <app-navbar-admin></app-navbar-admin>
    <div class="card shadow-lg">
      <div class="card-header">
        <button
          class="submit"
          data-bs-toggle="modal"
          data-bs-target="#addCategoryModal"
          style="font-size: 1.2rem"
        >
          เพิ่มหมวดหมู่
        </button>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ชื่อหมวดหมู่สินค้า</th>
              <th scope="col">จัดการ</th>
            </tr>
          </thead>
          <tbody>
            <!-- แสดงข้อมูลตามที่มีในฐานข้อมูล -->
            <tr *ngFor="let category of pagedCategories; let i = index">
              <td>{{ category.name || "" }}</td>
              <td>
                <div class="manage">
                  <button
                    class="btn btn-primary edit-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#editCategoryModal"
                    (click)="editCategory(category)"
                    *ngIf="category.name"
                  >
                    <i class="bx bx-edit"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    (click)="deleteCategoryById($event, category.id)"
                    *ngIf="category.name"
                  >
                    <i class="bx bx-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Pagination Controls using mat-paginator -->
        <div class="pagination-controls">
          <mat-paginator
            [length]="categories.length"
            [pageSize]="itemsPerPage"
            [pageSizeOptions]="[5, 10, 50, 100]"
            aria-label="Select page"
            (page)="onPageChange($event)"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>

  <!-- ฟอร์มเพิ่มหมวดหมู่สินค้า -->
  <div *ngIf="showCategoryForm" class="category-card show">
    <h3>เพิ่มหมวดหมู่สินค้า</h3>
    <div class="form-group mb-3">
      <label for="category-name">ชื่อหมวดหมู่</label>
      <input
        type="text"
        id="category-name"
        [(ngModel)]="newCategory.name"
        name="category-name"
        class="form-control"
        [value]="newCategory.name || ''"
        required
      />
    </div>
    <button type="button" class="btn btn-primary me-3" (click)="addCategory()">
      เพิ่มหมวดหมู่
    </button>
  </div>
</div>

<!-- แสดงผล Card แก้ไขหมวดหมู่ -->
<div *ngIf="editMode" class="edit-card show">
  <h3>แก้ไขข้อมูลหมวดหมู่</h3>
  <form (ngSubmit)="saveEditCategory()">
    <div class="form-group mb-3">
      <label for="name">ชื่อหมวดหมู่</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="selectedCategory.name"
        name="name"
        class="form-control"
        [value]="selectedCategory.name || ''"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary me-3">บันทึกการแก้ไข</button>
    <button type="button" class="btn btn-secondary" (click)="closeEditCard()">
      ยกเลิก
    </button>
  </form>
</div>

<app-category-management
  class="modal fade"
  id="addCategoryModal"
></app-category-management>

<app-edit-category
  class="modal fade"
  id="editCategoryModal"
  [category]="edit"
></app-edit-category>
