favourites.component.html
<app-navbar></app-navbar>

<!-- <div class="body">
  <div class="main-wrapper">
    <div class="wrapper-left">
      <div class="container-left">
        <p>แถบการทำรายการข้างซ้าย</p>
      </div>
    </div>

    <div class="wrapper-right">
      <p class="fav-title">รายการที่ชอบ</p>
      <div class="container-right">
        <div class="card-group">
          <div class="card" *ngFor="let item of likedProducts">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">฿{{ item.price }}</p>
              <button
                class="btn btn-danger"
                (click)="removeFromFavourites(item.id)"
              >
                ลบจากรายการโปรด
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-footer></app-footer>
