<h3 class="fav-title text-center">รายการโปรดของคุณ</h3>
<div class="fav-container">
  <div class="row" *ngIf="productList.length > 0 else noList">
    <div class="col-12 mb-3" *ngFor="let item of productList; index as i">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-3">
            <img *ngIf="item.images && item.images.length > 0" [src]="getImageUrl(item)" class="img-fluid rounded-start" alt="{{ item.title }}">
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-category">{{ item.category.name }}</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <p class="card-text">฿{{ item.price }}</p>
              <p class="card-quantity">เหลือ: {{ item.quantity }} ชิ้น</p>
              <div class="button-group">
                <button class="btn btn-primary" (click)="addItemToCart(item)">
                  <i class="bx bx-cart"></i>
                </button>
                <button class="btn btn-primary" (click)="goToDetails(item)">
                  <i class="bx bx-search"></i>
                </button>
                <button class="btn btn-danger" (click)="removeFromFavourites(item.id)">
                  <i class="bx bx-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noList>
  <div class="no-list text-center">
    <h3>
      คุณยังไม่มีรายการสินค้าโปรด
    </h3>
  </div>
</ng-template>