<div class="body">
  <div class="ext-box">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12 right">
            <div>
              <div class="input-box">
                <header class="header">จัดการสินค้า</header>
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <!-- ชื่อสินค้า -->
                  <div class="input-field form-group">
                    <input
                      type="text"
                      class="input"
                      id="title"
                      formControlName="title"
                      required
                    />
                    <label for="title">ชื่อสินค้า</label>
                  </div>

                  <!-- จำนวนสินค้า -->
                  <div class="input-field form-group">
                    <input
                      type="number"
                      class="input"
                      id="quantity"
                      formControlName="quantity"
                      required
                      min="1"
                    />
                    <label for="quantity">จำนวนสินค้า</label>
                  </div>

                  <!-- ราคา -->
                  <div class="input-field form-group">
                    <input
                      type="number"
                      class="input"
                      id="price"
                      formControlName="price"
                      required
                      min="0.01"
                      step="0.01"
                    />
                    <label for="price">ราคา</label>
                  </div>

                  <!-- คำอธิบาย -->
                  <div class="input-field form-group">
                    <textarea
                      class="input"
                      id="description"
                      formControlName="description"
                      required
                      rows="4"
                    ></textarea>
                    <label for="description">คำอธิบาย</label>
                  </div>

                  <!-- หมวดหมู่ -->
                  <div class="input-field form-group">
                    <select
                      id="category"
                      formControlName="category"
                      required
                      class="input"
                    >
                      <option value="" disabled selected>เลือกหมวดหมู่</option>
                      <option
                        *ngFor="let category of categories"
                        [value]="category.id"
                      >
                        {{ category.name }}
                      </option>
                    </select>
                    <label for="category">หมวดหมู่สินค้า</label>
                  </div>

                  <!-- ปุ่มบันทึกสินค้าและย้อนกลับ -->
                  <div class="button-group">
                    <button
                      type="submit"
                      class="submit"
                      [disabled]="form.invalid"
                    >
                      บันทึกสินค้า
                    </button>
                    <button
                      type="button"
                      class="submit"
                      (click)="goToManagements()"
                    >
                      ย้อนกลับ
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
