<app-navbar-admin></app-navbar-admin>
<link rel="stylesheet" href="admin-update-order-status.component.css" />

<div class="body">
  <div class="container">
    <div class="order-container p-5">
      <h1 style="font-weight: bold">รายการคำสั่งซื้อ</h1>
      <hr />
      <div class="card d-flex justify-content-center align-items-center">
        <div class="card-body">
          <div class="table align-middle">
            <thead class="thead-light">
              <tr>
                <th class="text-center">วันที่</th>
                <th class="text-center">สถานะคำสั่งซื้อ</th>
                <th class="text-center">สถานะการชำระเงิน</th>
                <th class="text-center">จำนวนเงินที่ต้องชำระ</th>
                <th class="text-center">วันที่ชำระเงิน</th>
                <th class="text-center">ตรวจสอบคำสั่งซื้อ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td class="text-center">{{order.createdAt | formatDateToThai}}</td>
                <td
                  class="text-center"
                  style="font-weight: bold;"
                  [ngStyle]="{
                    color: order?.orderStatus === 'PENDING'? '#F7AB05' : 
                          order?.orderStatus === 'CANCELLED'? '#DD0000' :
                          order?.orderStatus === 'DELIVERED'? '#47E036' : 
                          order?.orderStatus === 'SHIPPED'? '#4BB5DE' : 
                          order?.orderStatus === 'PROCESSED'? '#4BB5DE' :
                          order?.orderStatus === 'NOT_PROCESSED'? '#FB0077': ''
                  }"
                >
                {{ showOrderStatus(order.orderStatus) }}
                </td>
                <td
                  class="text-center"
                  style="font-weight: bold"
                  [ngStyle]="{
                    color: order.payments[0].status === 'PENDING'? '#F7AB05' : 
                          order.payments[0].status === 'COMPLETE'? '#4BB5DE' :
                          order.payments[0].status === 'FAILED'? '#DD0000' :  ''
                  }"
                >
                  {{showPaymentStatus(order.payments[0].status)}}
                </td>
                <td class="text-center">{{order.cartTotal.toLocaleString('en', {useGrouping: true})}}</td>
                <td class="text-center">{{order.payments[0].transferAt | formatDateToThai}}</td>
                <td>
                  <u class="check-payment" data-bs-toggle="modal" data-bs-target="#order-detail"
                  (click)="seeOrder(order)">
                  ตรวจสอบคำสั่งซื้อ</u>
                </td>
              </tr>
            </tbody>
          </div>
        </div>
      </div>
    </div>
    <app-admin-update-order-status-detail
      class="modal fade"
      id="order-detail"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      [order]="selectedOrder"
    ></app-admin-update-order-status-detail>
  </div>
</div>
