<h3 class="history-title text-center">ประวัติการสั่งซื้อ</h3>

<div class="container">
  <div class="filter-section mb-3 d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

      <input type="radio" class="btn-check" name="btnradio" id="all" value="" autocomplete="off"
        [(ngModel)]="filterStatus" (ngModelChange)="applyFilters()" checked>
      <label class="btn btn-outline-primary filter-button" for="all">ทั้งหมด</label>

      <input type="radio" class="btn-check" name="btnradio" id="PENDING" value="PENDING" autocomplete="off"
        [(ngModel)]="filterStatus" (ngModelChange)="applyFilters()">
      <label class="btn btn-outline-primary filter-button" for="PENDING">รอชำระเงิน</label>

      <input type="radio" class="btn-check" name="btnradio" id="PROCESSED" value="PROCESSED" autocomplete="off"
        [(ngModel)]="filterStatus" (ngModelChange)="applyFilters()">
      <label class="btn btn-outline-primary filter-button" for="PROCESSED">ยืนยันการสั่งซื้อ</label>

      <input type="radio" class="btn-check" name="btnradio" id="SHIPPED" value="SHIPPED" autocomplete="off"
        [(ngModel)]="filterStatus" (ngModelChange)="applyFilters()">
      <label class="btn btn-outline-primary filter-button" for="SHIPPED">กำลังจัดส่ง</label>

      <input type="radio" class="btn-check" name="btnradio" id="DELIVERED" value="DELIVERED" autocomplete="off"
        [(ngModel)]="filterStatus" (ngModelChange)="applyFilters()">
      <label class="btn btn-outline-primary filter-button" for="DELIVERED">จัดส่งสำเร็จ</label>

      <input type="radio" class="btn-check" name="btnradio" id="CANCELLED" value="CANCELLED" autocomplete="off"
        [(ngModel)]="filterStatus" (ngModelChange)="applyFilters()">
      <label class="btn btn-outline-primary filter-button" for="CANCELLED">ยกเลิก</label>
    </div>
  </div>
  <div *ngFor="let order of filteredOrders" class="card mb-3">
    <div *ngFor="let item of order.products" class="order-detail card-body">
      <div class="row">
        <div class="col-3 d-flex justify-content-center align-items-center">
          <img *ngIf="item.product.images && item.product.images.length > 0" [src]="getImageUrl(item.product)" class="img-fluid rounded" alt="Product Image">
        </div>
        <div class="col-4 item-title">
          <span class="product-title">{{item.product.title}}</span>
          <span class="product-quantity text-muted">ราคา: {{item.product.price}}</span>
          <span class="product-quantity text-muted">จำนวน: {{item.count}}</span>
        </div>
        <div class="col-2 ms-auto d-flex align-items-end">
          <div *ngIf="order?.orderStatus === 'DELIVERED'" class="d-flex flex-column">
            <div class="ms-1">รีวิวของคุณ</div>
            <div class="stars">
              <i class="fa" *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" 
              [ngClass]="i < getLatestProductRating(item) ? 'fa-star' : 'fa-star-o'"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr" />

    <div class="order-footer mb-3 card-body d-flex justify-content-between">
      <div class="order-footer">
        สั่งซื่อวันที่ {{order?.createdAt | formatDateToThai}}
        <div class="order-status ms-5">
          สถานะคำสั่งซื้อ:
        </div>
        <div class="status ms-1" [ngStyle]="{
                  color: order?.orderStatus === 'PENDING'? '#F7AB05' : 
                              order?.orderStatus === 'CANCELLED'? '#DD0000' :
                              order?.orderStatus === 'DELIVERED'? '#47E036' : 
                              order?.orderStatus === 'SHIPPED'? '#4BB5DE' : 
                              order?.orderStatus === 'PROCESSED'? '#4BB5DE' : ''
                }">
          {{ showStatus(order?.orderStatus) }}
        </div>
      </div>

      <div type="button" class="d-flex" data-bs-toggle="modal" data-bs-target="#historyDetail">
          <button class="payment-btn me-2" (click)="selectOrder(order)">ตรวจสอบคำสั่งซื้อ</button>
      </div>
    </div>
  </div>
</div>

<app-history-detail class="modal fade" id="historyDetail" tabindex="-1" aria-labelledby="historyDetailLabel"
  aria-hidden="true" [order]="selectedOrder" [productRating]="productRating"
  (getUserStorageItem)="getUserStorageItem()"></app-history-detail>