/* History Card */
.item-card {
    min-width: 250px;
    width: 75%; /* กำหนดความกว้าง */
    margin: 0 auto; /* จัดให้อยู่กึ่งกลาง */
    border-radius: 10px; /* ทำให้มุมการ์ดโค้ง */
    background-color: #fff; /* สีพื้นหลัง */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เงา */
    transition: transform 0.3s, box-shadow 0.3s; /* เพิ่มเอฟเฟกต์เมื่อ hover */
}

.item-card:hover {
    transform: translateY(-5px); /* ยกการ์ดขึ้นเล็กน้อย */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* เพิ่มเงาเมื่อ hover */
}
/* End of History Card */

.history-detail {
    color: #F36523;
    text-decoration: underline;
    cursor: pointer;
    align-items: center;
}

.history-detail {
    filter: brightness(0.8);
    text-decoration: none;
}