<!-- <app-navbar></app-navbar> -->
<div class="row">
    <div class="container">
        <h3 class="container-header">แก้ไขที่อยู่</h3>
        <br />
        <div class="form-container">
            <form [formGroup]="editAddressForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-field">
                            <div class="form-group">
                                <label for="firstName" class="form-label">ชื่อ</label>
                                <input type="text" class="form-control" id="firstName-input" formControlName="firstName" required>
                                <div *ngIf="editAddressForm.get('firstName')?.touched && editAddressForm.get('firstName')?.invalid">
                                    <small class="text-danger" *ngIf="editAddressForm.get('firstName')?.errors?.['required']">
                                        กรุณากรอกชื่อ
                                    </small>
                                    <small class="text-danger" *ngIf="editAddressForm.get('firstName')?.hasError('pattern')">
                                        ชื่อที่กรอกต้องเป็นตัวอักษรไทย/อังกฤษเท่านั้น
                                    </small>
                                    <small class="text-danger" *ngIf="editAddressForm.get('firstName')?.hasError('whitespace') && !editAddressForm.get('firstName')?.errors?.['required']">
                                        กรุณากรอกชื่อที่ไม่ใช่ช่องว่าง
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstName" class="form-label">ที่อยู่</label>
                                <input type="text" class="input form-control" id="street-input" formControlName="street" required>
                                <div *ngIf="editAddressForm.get('street')?.touched && editAddressForm.get('street')?.invalid">
                                    <small class="text-danger" *ngIf="editAddressForm.get('street')?.errors?.['required']">
                                        กรุณากรอกที่อยู่
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="district" class="form-label">อำเภอ</label>
                                <select class="form-control" id="district" formControlName="district" [disabled]="!editAddressForm.get('province')?.value" (change)="districtSelect($event)">
                                    <option disabled value="">เลือกอำเภอ</option>
                                    <option disabled value="" *ngIf="!editAddressForm.get('province')?.value">โปรดเลือกจังหวัดก่อน</option>
                                    <option *ngFor="let district of filteredDistricts" [value]="district">{{ district }}</option>
                                </select>
                                <div *ngIf="editAddressForm.get('district')?.touched && editAddressForm.get('district')?.invalid">
                                    <small class="text-danger" *ngIf="editAddressForm.get('district')?.errors?.['required']">
                                        กรุณาเลือกอำเภอ
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber" class="form-label">เบอร์โทรศัพท์</label>
                                <input type="text" class="form-control" id="phone-input" formControlName="phoneNumber" required>
                                <div *ngIf="editAddressForm.get('phoneNumber')?.touched && editAddressForm.get('phoneNumber')?.invalid">
                                    <small class="text-danger" *ngIf="editAddressForm.get('phoneNumber')?.errors?.['required']">
                                        กรุณากรอกเบอร์โทรศัพท์
                                    </small>
                                    <small class="text-danger" *ngIf="editAddressForm.get('phoneNumber')?.hasError('pattern')">
                                        เบอร์โทรศัพท์ต้องเป็นตัวเลข 10 หลัก
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-field">
                            <div class="form-group">
                                <label for="lastName" class="form-label">นามสกุล</label>
                                <input type="text" class="form-control" id="lastName-input" formControlName="lastName" required>
                                <div *ngIf="editAddressForm.get('lastName')?.touched && editAddressForm.get('lastName')?.invalid">
                                    <small class="text-danger" *ngIf="editAddressForm.get('lastName')?.errors?.['required']">
                                        กรุณากรอกนามสกุล
                                    </small>
                                    <small class="text-danger" *ngIf="editAddressForm.get('lastName')?.hasError('pattern')">
                                        นามสกุลที่กรอกต้องเป็นตัวอักษรไทย/อังกฤษเท่านั้น
                                    </small>
                                    <small class="text-danger" *ngIf="editAddressForm.get('lastName')?.hasError('whitespace') && !editAddressForm.get('lastName')?.errors?.['required']">
                                        กรุณากรอกนามสกุลที่ไม่ใช่ช่องว่าง
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="province" class="form-label">จังหวัด</label>
                                <select class="form-control" id="province" formControlName="province" (change)="provinceSelect($event)">
                                    <option disabled value="">เลือกจังหวัด</option>
                                    <option *ngFor="let province of uniqueProvinces" [value]="province">{{ province }}</option>
                                </select>
                                <div *ngIf="editAddressForm.get('province')?.touched && editAddressForm.get('province')?.invalid">
                                    <small class="text-danger" *ngIf="editAddressForm.get('province')?.errors?.['required']">
                                        กรุณาเลือกจังหวัด
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subDistrict" class="form-label">ตำบล</label>
                                <select class="form-control" id="subDistrict" formControlName="subDistrict" [disabled]="!editAddressForm.get('district')?.value" (change)="subDistrictSelect($event)">
                                    <option disabled value="">เลือกตำบล</option>
                                    <option disabled value="" *ngIf="!editAddressForm.get('district')?.value">โปรดเลือกอำเภอก่อน</option>
                                    <option *ngFor="let subDistrict of filteredSubDistricts" [value]="subDistrict">{{ subDistrict }}</option>
                                </select>
                                <div *ngIf="editAddressForm.get('subDistrict')?.touched && editAddressForm.get('subDistrict')?.invalid">
                                    <small class="text-danger" *ngIf="editAddressForm.get('subDistrict')?.errors?.['required']">
                                        กรุณาเลือกตำบล
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="postalCode" class="form-label">รหัสไปรษณีย์</label>
                                <input type="text" class="form-control" id="postalCode-input" formControlName="postalCode" required>
                                <div *ngIf="editAddressForm.get('postalCode')?.touched && editAddressForm.get('postalCode')?.invalid">
                                    <small class="text-danger" *ngIf="editAddressForm.get('postalCode')?.errors?.['required']">
                                        กรุณากรอกรหัสไปรษณีย์
                                    </small>
                                    <small class="text-danger" *ngIf="editAddressForm.get('postalCode')?.hasError('pattern')">
                                        รหัสไปรษณีย์ต้องเป็นตัวเลข 5 หลัก
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-submit-container">
                    <button type="button" class="edit-btn" (click)="cancel()">ยกเลิก</button>
                    <button type="submit" class="edit-btn">ยืนยัน</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->