<app-navbar></app-navbar>
<div class="row edit-address-page">
    <!-- <div class="col-md-5">
        <div class="user-menu">
            <div class="menu">
                <h3 class="container-header">บัญชีผู้ใช้</h3>
                <hr/>
                <p>จัดการบัญชี</p>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-md-7"> -->
        <div class="edit-address-container">
            <h3 class="container-header">แก้ไขที่อยู่</h3>
            <br />
            <div class="form-container">
                <form [formGroup]="editAddressForm" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-field">
                                <div class="form-group">
                                    <label for="firstName" class="form-label">ชื่อ</label>
                                    <input type="text" class="form-control" id="firstName-input" formControlName="firstName" required>
                                    <div *ngIf="editAddressForm.get('firstName')?.touched && editAddressForm.get('firstName')?.invalid">
                                        <small class="text-danger" *ngIf="editAddressForm.get('firstName')?.errors?.['required']">
                                          กรุณากรอกชื่อ
                                        </small>
                                        <small class="text-danger" *ngIf="editAddressForm.get('firstName')?.hasError('pattern')">
                                            ชื่อที่กรอกต้องเป็นตัวอักษรไทย/อังกฤษเท่านั้น
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="firstName" class="form-label">ที่อยู่</label>
                                    <input type="text" class="input form-control" id="street-input" formControlName="street" required>
                                    <div *ngIf="editAddressForm.get('street')?.touched && editAddressForm.get('street')?.invalid">
                                        <small class="text-danger" *ngIf="editAddressForm.get('street')?.errors?.['required']">
                                          กรุณากรอกที่อยู่
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5>อำเภอ</h5>
                                    <div class="dropdown">
                                        <a 
                                            class="btn dropdown-toggle input" 
                                            role="button" 
                                            data-bs-toggle="dropdown" 
                                            aria-expanded="false">
                                            {{ selectedDistrict || 'เลือกอำเภอ' }}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="let district of filteredDistricts">
                                                <a class="dropdown-item" (click)="districtSelect(district)">{{ district }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber" class="form-label">เบอร์โทรศัพท์</label>
                                    <input type="text" class="form-control" id="phone-input" formControlName="phoneNumber" required>
                                    <div *ngIf="editAddressForm.get('phoneNumber')?.touched && editAddressForm.get('phoneNumber')?.invalid">
                                        <small class="text-danger" *ngIf="editAddressForm.get('phoneNumber')?.errors?.['required']">
                                          กรุณากรอกเบอร์โทรศัพท์
                                        </small>
                                        <small class="text-danger" *ngIf="editAddressForm.get('phoneNumber')?.hasError('pattern')">
                                            เบอร์โทรศัพท์ต้องเป็นตัวเลข 10 หลัก
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-field">
                                <div class="form-group">
                                    <label for="lastName" class="form-label">นามสกุล</label>
                                    <input type="text" class="form-control" id="lastName-input" formControlName="lastName" required>
                                    <div *ngIf="editAddressForm.get('lastName')?.touched && editAddressForm.get('lastName')?.invalid">
                                        <small class="text-danger" *ngIf="editAddressForm.get('lastName')?.errors?.['required']">
                                          กรุณากรอกนามสกุล
                                        </small>
                                        <small class="text-danger" *ngIf="editAddressForm.get('lastName')?.hasError('pattern')">
                                            นามสกุลที่กรอกต้องเป็นตัวอักษรไทย/อังกฤษเท่านั้น
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5>จังหวัด</h5>
                                    <div class="dropdown">
                                        <a 
                                            class="btn dropdown-toggle input" 
                                            role="button" 
                                            data-bs-toggle="dropdown" 
                                            aria-expanded="false">
                                            {{ selectedProvince || 'เลือกจังหวัด' }}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="let province of uniqueProvinces">
                                                <a class="dropdown-item" (click)="provinceSelect(province)">{{ province }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5>ตำบล</h5>
                                    <div class="dropdown">
                                        <a 
                                            class="btn dropdown-toggle input" 
                                            role="button" 
                                            data-bs-toggle="dropdown" 
                                            aria-expanded="false">
                                            {{ selectedSubDistrict || 'เลือกตำบล' }}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="let subDistrict of filteredSubDistricts">
                                                <a class="dropdown-item" (click)="subDistrictSelect(subDistrict)">{{ subDistrict }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="postalCode" class="form-label">รหัสไปรษณีย์</label>
                                    <input type="text" class="form-control" id="postalCode-input" formControlName="postalCode" required>
                                    <div *ngIf="editAddressForm.get('postalCode')?.touched && editAddressForm.get('postalCode')?.invalid">
                                        <small class="text-danger" *ngIf="editAddressForm.get('postalCode')?.errors?.['required']">
                                          กรุณากรอกรหัสไปรษณีย์
                                        </small>
                                        <small class="text-danger" *ngIf="editAddressForm.get('postalCode')?.hasError('pattern')">
                                            รหัสไปรษณีย์ต้องเป็นตัวเลข 5 หลัก
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-submit-container">
                        <button type="button" class="edit-btn" (click)="cancel()">ยกเลิก</button>
                        <button type="submit" class="edit-btn">ยืนยัน</button>
                    </div>
                </form>
            </div>
        </div>
    <!-- </div>     -->
</div>

<app-footer></app-footer>