.edit-address-page {
    display: flex;
    align-items: stretch; /* ให้ child ขยายความสูงเท่ากัน */
    flex-wrap: wrap;
    background-color: #FFDDBE;
    padding-top: calc(var(--navbar-height, 70px));
    max-width: 1920px;
}

.edit-address-page > [class^="col-"] {
    display: flex; /* ใช้ flex เพื่อจัดการ layout ภายใน */
    flex-direction: column; /* เนื้อหาภายในจะเรียงจากบนลงล่าง */
}

.user-menu {
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    max-width: 450px;
    background-color: white;
    margin-top: 90px;
    margin-left: 25%;
}

.edit-address-container {
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    margin-top: 90px;
    margin-left: 3%;
    margin-bottom: 50px;
}

.form-container {
    justify-content: center;
    padding: 10px;
}

.form-group {
    padding: 4px;
}

.form-submit-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* ระยะห่าง */
    margin-top: 20px;
}