<div class="body">
  <div class="table-container">
    <app-navbar-super-admin></app-navbar-super-admin>
    <div class="card shadow-lg">
      <div class="card-header">
        <button
          class="submit"
          data-bs-toggle="modal"
          data-bs-target="#addShippingModal"
          style="font-size: 1.2rem"
        >
          เพิ่มขนส่ง
        </button>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ชื่อบริษัทขนส่ง</th>
              <th scope="col">ค่าธรรมเนียม</th>
              <th scope="col">จัดการ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let shipping of shippings">
              <td>{{ shipping.company }}</td>
              <td>{{ shipping.fees | currency : "THB" }}</td>
              <td>
                <div class="manage">
                  <button
                    class="btn btn-danger"
                    (click)="deleteShipping(shipping.id)"
                  >
                    <i class="bx bx-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-add-shipping class="modal fade" id="addShippingModal"></app-add-shipping>
