.container {
    padding-top: calc(var(--navbar-height, 8%));
    margin-bottom: 2%;
    font-family: 'SUT', sans-serif;
}
.title-swal {
    font-family: 'SUT', sans-serif !important;
  }
.bg {
    background-color: #FFDDBE;
}
.card {
    margin-top: 2%;
    margin-bottom: 2%;
}
.card-img {
    width: 90px;
    height: auto;
} 

.btn {
    transition: transform 0.3s, box-shadow 0.3s;
}
.main-btn {
    background-color: #F36523;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
}
.main-btn:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.select-items {
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}
.select-items-label {
    cursor: pointer;
}
.checkbox, .price, .sum-price, .quantity, .delete, .delete-all {

    font-size: 20px;
}
.item-title {
    flex-direction: column;
    display: flex;
    font-size: 20px;
}
.product-title {
    font-weight: bold;
    font-size: 22px;
}
.product-quantity {
    text-align: left;
    color: gray;
}
.quantity-input {
    width: 60px;
}
.table-cart tr td {
    padding: 1rem 1.75rem;
}
.quantity-input {
  width: 3rem; /* Set a fixed width for the input box */
  text-align: center; /* Center the input text */
  font-size: 20px;
}
.quantity-col {
    display:inline-flex;
}
.sum-price {
    color: #F36523;
}
.delete-all {
    display: flex; /*มีส่วนทำให้ icon inline with text*/
    align-items: center; /*มีส่วนทำให้ icon inline with text*/
}
.delete, .delete-all :hover {
    cursor: pointer;
}
.no-cart-shopping {
    background-color: #F36523;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
    width: 15%;
    height: 15%;
    letter-spacing: 1px;
}
.no-cart-img {
    max-width: 200px;
}
.summary {
    font-size: 22px;
}
.summary h2 {
    font-weight: bold;
}
.summary-sum-price {
    font-size: 40px;
    font-weight: bold;
    color: #F36523;
}
.shipping {
    font-size: 20px;
    font-weight: bold;
}
.select-shipping :hover {
    cursor: pointer;
}
.select-shipping {
    color: #F36523;
}
th {
    font-size: 20px;
}
.change-address {
    font-size: 20px;
}

.change-address-btn {
    background-color: gray;
    border: none;
}
.change-address-btn:active {
    background-color: #676767 ;
    border: none;
}