<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close shadow-none"
        data-bs-dismiss="modal"
        aria-label="ปิด"
      >
        &#x2716;
        <!-- สัญลักษณ์กากบาท (✘) -->
      </button>
    </div>

    <div class="modal-body">
      <div *ngIf="destBank">
        <form [formGroup]="destBankData" (ngSubmit)="addBank()">
          <div class="bank form-group">
            ธนาคาร: <input formControlName="bank" />
          </div>
          <div class="name form-group">
            ชื่อบัญชี: <input formControlName="name" />
          </div>
          <div class="bank-number form-group">
            หมายเลขบัญชี: <input formControlName="bankNumber" />
          </div>
          <div class="branch form-group">
            สาขา: <input formControlName="branch" />
          </div>
        </form>
      </div>
      <div *ngIf="!destBank">
        <form [formGroup]="originBankData" (ngSubmit)="addBank()">
          <div class="bank form-group">
            ธนาคาร: <input formControlName="bank" />
          </div>
        </form>
      </div>
    </div>

    <div class="modal-footer" >
      <button type="submit" style="font-size: 20px;" class="btn btn-primary" (click)="addBank()">
        บันทึกการเปลี่ยนแปลง
      </button>
      <button type="button" class="btn btn-secondary" style="font-size: 20px;"  data-bs-dismiss="modal">
        ยกเลิก
      </button>
    </div>
  </div>
</div>
