<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fw-bold" id="exampleModalLabel">รายละเอียดคำสั่งซื้อ</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="order-header d-flex flex-row ms-3 me-3" style="font-size: 20px;">
                    สั่งซื่อวันที่: {{order?.createdAt | formatDateToThai}}
                </div>
                <div class="shipping ms-3 me-3 d-flex flex-column" style="font-size: 20px;">
                    <span>จัดส่งโดย: {{order?.shipping?.company}}</span>
                    <span [ngSwitch]="order?.orderStatus">
                        <span *ngSwitchCase="'PROCESSED'">
                            tracking number: 
                            <input [(ngModel)]="trackingNumber" type="text" class="form-control shadow-none form-control-lg" id="trackingNumber">
                        </span>
                        <span *ngSwitchCase="'SHIPPED'">
                            tracking number: 
                            <input [(ngModel)]="trackingNumber" type="text" class="form-control shadow-none form-control-lg" id="trackingNumber">
                        </span>
                        <span *ngSwitchDefault>
                            tracking number: {{trackingNumber}}
                        </span>
                      </span>
                    
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column">
                <div class="d-flex flex-row">
                    <div class="order-status me-1" style="font-size: 20px;">
                        สถานะคำสั่งซื้อ:
                    </div>
                    <div 
                        class="text-center"
                        style="font-weight: bold; font-size: 20px;"
                        [ngStyle]="{
                            color: order?.orderStatus === 'PENDING'? '#F7AB05' : 
                                    order?.orderStatus === 'CANCELLED'? '#DD0000' :
                                    order?.orderStatus === 'DELIVERED'? '#47E036' : 
                                    order?.orderStatus === 'SHIPPED'? '#4BB5DE' : 
                                    order?.orderStatus === 'PROCESSED'? '#4BB5DE' :
                                    order?.orderStatus === 'NOT_PROCESSED'? '#FB0077': ''
                            }"
                            >
                        {{ showOrderStatus() }}
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="order-status me-1" style="font-size: 20px;">
                        สถานะการชำระเงิน:
                    </div>
                    <div style="font-weight: bold; font-size: 20px"
                        class="text-center"
                        [ngStyle]="{
                            color: order?.payments?.[0]?.status === 'NOT_PROCESSED'? '#FB0077' : 
                                    order?.payments?.[0]?.status === 'COMPLETED'? '#47E036' :
                                    order?.payments?.[0]?.status === 'FAILED'? '#DD0000' :  '#DD0000'
                        }">
                        {{showPaymentStatus()}}
                    </div>
                </div>
                <div *ngIf="order?.payments?.[0]?.status === 'NOT_PROCESSED' || order?.payments?.[0]?.status === 'COMPLETED'">
                    <u class="check-receipt-btn me-1" style="font-size: 20px;" (click)="openImageModal(order?.payments?.[0]?.receipt)">
                        ตรวจสอบสลิป 
                    </u>
                    <span style="font-size: 22px;">{{ (order?.payments?.[0]?.transferAt | formatDateToThai)}}</span>
                </div>
                <div *ngIf="isModalOpen" class="image-modal">
                    <span class="close-btn" (click)="closeImageModal()">
                        <button type="button" class="btn-close" style="background-color: #fff" aria-label="Close"></button>
                    </span>
                    <img class="modal-content-img" [src]="selectedImage" />
                </div>
            </div>
        </div>
        
        <div *ngFor="let item of order?.products" class="border rounded m-3">
            <div class="row ps-3 pb-3 pt-2">
                <div class="col-2 d-flex justify-content-center align-items-center img-container">
                    <img *ngIf="item.product.images && item.product.images.length > 0" [src]="getImageUrl(item.product)" class="img-fluid rounded" alt="Product Image">
                </div>
                <div class="col-6 item-title">
                    <span class="product-title">{{item.product.title}}</span>
                    <span class="product-quantity text-muted">ราคา: {{item.product.price}}</span>
                    <span class="product-quantity text-muted">จำนวน: {{item.count}}</span>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-between m-3 ">
            <div class="address col-5 border rounded ">
                <div class="ms-3 mt-3">
                    <h3 style="font-weight: bold;">
                        ที่อยู่ในการจัดส่ง
                    </h3>
                    <div class="d-flex justify-content-between" style="font-size: 20px;">
                        <div class="name">
                            {{order?.address?.firstName}} {{order?.address?.lastName}}
                        </div>
                        
                    </div>
                    <div class="address" style="font-size: 20px;">
                        {{order?.address?.street}} {{order?.address?.subDistrict}}
                        {{order?.address?.district}} {{order?.address?.province}}
                        {{order?.address?.postalCode}} {{order?.address?.phoneNumber}}
                    </div>
                </div>
            </div>
            <div class="summary col-6 border rounded">
                <div class="m-3">
                    <h3 style="font-weight: bold;">สรุปข้อมูลคำสั่งซื้อ</h3>
                    <div class="d-flex justify-content-between" style="font-size: 20px;">
                        <p>ราคาสินค้า</p>
                        {{(productOnOrderTotal).toLocaleString('en', {useGrouping:true})}}
                    </div>
                    <div class="d-flex justify-content-between" style="font-size: 20px;">
                        <p>ค่าส่ง</p>
                        <p>{{order?.shipping?.fees}}</p>
                    </div>
                    <hr class="mt-1 mb-1" />
                    <div class="d-flex justify-content-between summary-sum-price" style="font-size: 1.5rem;">
                        <p>รวมทั้งสิ้น</p>
                        {{
                        order?.cartTotal?.toLocaleString('en', {useGrouping:true})
                        }}
                    </div>
                </div>
            </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="font-size: 20px;" data-bs-dismiss="modal">ปิด</button>
        <button type="button" class="btn btn-primary" 
            style="font-size: 20px; background-color: #F36523; border: none;"
            (click)="confirmOrder()"
            *ngIf="order?.orderStatus === 'NOT_PROCESSED'"
        >
            ยืนยันการชำระเงิน
        </button>
        
        <button type="button" class="btn btn-primary" 
            style="font-size: 20px; background-color: #F36523; border: none;"
            (click)="addTrackingNumber()"
            *ngIf="order?.orderStatus === 'PROCESSED'"
        >
            เพิ่ม Tracking Number
        </button>
      </div>
    </div>
  </div>