<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<body>
  <div class="ext-box">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6 side-image"></div>
          <div class="col-md-6 right">
            <div>
              <div class="input-box">
                <header class="header" style="color: #f26522">
                  สมัครบัญชีผู้ใช้งาน
                </header>
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <!-- First Name -->
                  <div class="input-field">
                    <input
                      type="text"
                      class="input"
                      id="registerPage-firstname"
                      formControlName="firstName"
                      required
                    />
                    <label for="registerPage-firstname">ชื่อ</label>
                    <div
                      *ngIf="
                        form.get('firstName')?.touched &&
                        form.get('firstName')?.invalid
                      "
                    >
                      <span
                        class="error"
                        *ngIf="form.get('firstName')?.hasError('required')"
                      >
                        ชื่อจำเป็นต้องกรอก
                      </span>
                      <span
                        class="error"
                        *ngIf="form.get('firstName')?.hasError('minlength')"
                      >
                        ชื่ออย่างน้อย 2 ตัวอักษร
                      </span>
                    </div>
                  </div>

                  <!-- Last Name -->
                  <div class="input-field">
                    <input
                      type="text"
                      class="input"
                      id="registerPage-lastname"
                      formControlName="lastName"
                      required
                    />
                    <label for="registerPage-lastname">นามสกุล</label>
                    <div
                      *ngIf="
                        form.get('lastName')?.touched &&
                        form.get('lastName')?.invalid
                      "
                    >
                      <span
                        class="error"
                        *ngIf="form.get('lastName')?.hasError('required')"
                      >
                        นามสกุลจำเป็นต้องกรอก
                      </span>
                      <span
                        class="error"
                        *ngIf="form.get('lastName')?.hasError('minlength')"
                      >
                        นามสกุลอย่างน้อย 2 ตัวอักษร
                      </span>
                    </div>
                  </div>

                  <!-- Email -->
                  <div class="input-field">
                    <input
                      formControlName="email"
                      type="email"
                      class="input"
                      id="registerPage-email"
                      required
                      autocomplete="off"
                    />
                    <label for="registerPage-email">อีเมล</label>
                    <div
                      *ngIf="
                        form.get('email')?.touched && form.get('email')?.invalid
                      "
                    >
                      <span
                        class="error"
                        *ngIf="form.get('email')?.hasError('required')"
                      >
                        อีเมลจำเป็นต้องกรอก
                      </span>
                      <span
                        class="error"
                        *ngIf="form.get('email')?.hasError('email')"
                      >
                        โปรดกรอกอีเมลที่ถูกต้อง
                      </span>
                      <span
                        class="error"
                        *ngIf="form.get('email')?.hasError('invalidDomain')"
                      >
                        อีเมลต้องลงท้ายด้วย gmail.com
                      </span>
                    </div>
                  </div>

                  <!-- Password -->
                  <div class="input-field">
                    <input
                      formControlName="password"
                      [type]="showPassword ? 'text' : 'password'"
                      class="input"
                      id="registerPage-password"
                      required
                    />
                    <label for="registerPage-password">รหัสผ่าน</label>
                    <i
                      class="fa"
                      [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                      (click)="togglePasswordVisibility()"
                    ></i>
                    <div
                      *ngIf="
                        form.get('password')?.touched &&
                        form.get('password')?.invalid
                      "
                    >
                      <span
                        class="error"
                        *ngIf="form.get('password')?.hasError('required')"
                      >
                        รหัสผ่านจำเป็นต้องกรอก
                      </span>
                      <span
                        class="error"
                        *ngIf="form.get('password')?.hasError('minlength')"
                      >
                        รหัสผ่านต้องมีอย่างน้อย 6 ตัวอักษร
                      </span>
                    </div>
                  </div>

                  <!-- Gender -->
                  <div class="gender-container">
                    <div class="gender-options">
                      <div class="gender-option">
                        <input
                          type="radio"
                          id="registerPage-male"
                          value="male"
                          formControlName="gender"
                          name="gender"
                        />
                        <label
                          for="registerPage-male"
                          class="gender-option-label"
                          >ชาย</label
                        >
                      </div>
                      <div class="gender-option">
                        <input
                          type="radio"
                          id="registerPage-female"
                          value="female"
                          formControlName="gender"
                          name="gender"
                        />
                        <label
                          for="registerPage-female"
                          class="gender-option-label"
                          >หญิง</label
                        >
                      </div>
                    </div>
                    <div
                      *ngIf="
                        form.get('gender')?.touched &&
                        form.get('gender')?.invalid
                      "
                    >
                      <span class="error">กรุณาเลือกเพศ</span>
                    </div>
                  </div>

                  <div class="input-field">
                    <button
                      type="submit"
                      class="submit"
                      [disabled]="form.invalid"
                    >
                      ลงทะเบียน
                    </button>
                  </div>
                  <div class="signin">
                    <span>
                      คุณมีบัญชีผู้ใช้งานอยู่แล้ว?
                      <a href="/login">เข้าสู่ระบบเพื่อใช้งาน ที่นี่</a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
