<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" style="font-weight: bold;">แก้ไขข้อมูลบริษัทขนส่ง</h2>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    <div class="modal-body">
      <div class="container">
        <div class="row main-row">
          <div class="col-md-12 right">
            <div>
              <div class="input-box p-4">
                <header class="header">แก้ไขข้อมูล : {{ shipping.company }}</header>
                <form [formGroup]="form" (ngSubmit)="updateShipping()">
                  <div class="input-field form-group">
                    <input
                      type="text"
                      class="input"
                      id="company"
                      formControlName="company"
                      required
                    />
                    <label for="company">ชื่อบริษัทขนส่ง</label>
                  </div>
                  <div class="input-field form-group">
                    <input
                      type="text"
                      class="input"
                      id="fees"
                      formControlName="fees"
                      required
                    />
                    <label for="fees">ค่าธรรมเนียม</label>
                  </div>

                  <div class="button-group">
                    <button
                      type="submit"
                      class="submit"
                      [disabled]="form.invalid"
                    >
                      แก้ไขบริษัท
                    </button>
                    <button
                      type="button"
                      class="cancel"
                      (click)="goToShipping()"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      ย้อนกลับ
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
