<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="card">
        <div class="table-responsive">
        <table class="table table-sm align-middle table-order">
          <thead class="thead-light">
            <tr>
              <th class="text-center"></th>
              <!-- <th class="text-center"></th> -->
              <th class="text-center">ชื่อสินค้า</th>
              <th class="text-center">ราคา</th>
              <th class="text-center">จำนวน</th>
              <th class="text-center">ราคารวม</th>
              <!-- <th class="text-center"></th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productOnOrder; index as i">
              <td class="text-center">
                <img src="assets/SUT-Logo.png" class="img-fluid" style="max-height: 50px;">
              </td>
              <td class="text-center">
                <span class="product-title">{{item.product.title}}</span>
              </td>
              <td class="text-center">
                {{item.product.price.toLocaleString('en', {useGrouping:true})}}
              </td>
              <td class="text-center">
                {{item.count}}
              </td>
              <td class="text-center">
                {{ (item.product.price * item.count).toLocaleString('en', {useGrouping:true}) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



    <div class="col-5">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2>
            ที่อยู่ในการจัดส่ง
          </h2>
          <div class="d-flex justify-content-between">
            <div class="name">
              {{defaultAddress?.firstName}} {{defaultAddress?.lastName}}
            </div>
            <div class="change-address" data-bs-toggle="modal" data-bs-target="#change-address">
              <button class="btn btn-primary"> เปลี่ยน </button>
            </div>
          </div>
          <div class="address">
            {{defaultAddress?.street}} {{defaultAddress?.subDistrict}}
            {{defaultAddress?.district}} {{defaultAddress?.province}}
            {{defaultAddress?.postalCode}} {{defaultAddress?.phoneNumber}}
            <!-- หอพักสุรนิเวศ 7 มหาวิทยาลัยเทคโนโลยีสุรนารี  ** mockedup **
            สุรนารี เมืองนครราชสีมา นครราชสีมา 30000 -->
          </div>
          <hr class="mt-1 mb-1" />
          <h2>สรุปข้อมูลคำสั่งซื้อ</h2>
          <div *ngIf="productOnOrder" class="d-flex justify-content-between price-summary">
            <p>ราคาสินค้า</p>
            {{sumItemPrice.toLocaleString('en', {useGrouping:true})}}
          </div>
          <div class="d-flex justify-content-between shipping-cost">
            <p>ค่าส่ง</p>
            <p>50</p>
          </div>
          <hr class="mt-1 mb-1" />
          <div *ngIf="productOnOrder" class="d-flex justify-content-between summary-sum-price">
            <p>รวมทั้งสิ้น</p>
            {{(sumItemPrice + 50).toLocaleString('en', {useGrouping:true})}}
          </div>
          <button type="submit" class="main-btn w-100" data-bs-toggle="modal" data-bs-target="#upload-receipt">
            ชำระเงิน
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-change-address-modal class="modal fade" id="change-address"
  (changeDefaultAddress)="defaultAddressChanged()"></app-change-address-modal>
<app-upload-receipt class="modal fade" id="upload-receipt" [sumItemPrice]="sumItemPrice"></app-upload-receipt>
<app-select-shipping class="modal fade" id="select-shipping"></app-select-shipping>

