<app-navbar></app-navbar>
<div class="row mx-auto user-page">
    <div class="col-md-4">
        <div class="user-menu">
            <div class="menu">
                <h3 class="container-header">บัญชีผู้ใช้</h3>
                <hr/>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p>ข้อมูลส่วนตัว</p>
                    </li>
                    <li class="nav-item">
                        <a href="/address">ที่อยู่</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="user-container">
            <h3 class="container-header">ข้อมูลส่วนตัว</h3>
            <br/>
            <div class="user-table border border-bottom-0">
                <table class="table table-inverse">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="topic">ชื่อ - สกุล</td>
                            <td>{{user?.firstName}} {{user?.lastName}}</td>
                        </tr>
                        <tr>
                            <td>อีเมล</td>
                            <td>{{user?.email}}</td>
                        </tr>
                        <tr>
                            <td>เพศ</td>
                            <td>{{showGender()}}</td>
                        </tr>
                        <tr>
                            <td>รหัสผ่าน</td>
                            <td>
                                ********
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="edit-btn">
                <button class="edit-button-btn" (click)="openModal()">แก้ไขข้อมูล</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Backdrop -->
<div *ngIf="ModalOpen" class="modal-backdrop fade show"></div>

<!-- Modal -->
<div *ngIf="ModalOpen" class="modal fade show" tabindex="-1" style="display: block;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">แก้ไขข้อมูลผู้ใช้งาน</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editedUser" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="firstname" class="form-label">ชื่อ</label>
            <input
              id="firstname"
              type="text"
              class="form-control"
              formControlName="firstname"
            />
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">นามสกุล</label>
            <input
              id="lastname"
              type="text"
              class="form-control"
              formControlName="lastname"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">อีเมล</label>
            <input
              id="email"
              type="email"
              class="form-control"
              formControlName="email"
            />
          </div>
          <div class="mb-3">
            <label for="gender" class="form-label">เพศ</label>
            <select id="gender" class="form-select" formControlName="gender">
              <option value="Male">ชาย</option>
              <option value="Female">หญิง</option>
              <option value="Other">อื่นๆ</option>
            </select>
          </div>
          <div class="form-submit-container">
            <button type="button" class="edit-button-btn" (click)="closeModal()">
                ยกเลิก
            </button>
            <button type="submit" class="edit-button-btn">
                บันทึก
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


  
  

<app-footer></app-footer>