<app-navbar></app-navbar>
<div class="row mx-auto user-page">
    <div class="col-md-4">
        <div class="user-menu">
            <div class="menu">
                <h3 class="container-header">บัญชีผู้ใช้</h3>
                <hr/>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p>ข้อมูลส่วนตัว</p>
                    </li>
                    <li class="nav-item">
                        <a href="/address">ที่อยู่</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="user-container">
            <h3 class="container-header">ข้อมูลส่วนตัว</h3>
            <br/>
            <div class="user-table border border-bottom-0">
                <table class="table table-inverse">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="topic">ชื่อ - สกุล</td>
                            <td>{{user?.firstname}} {{user?.lastname}}</td>
                            <td class="change">
                                <a>
                                    เปลี่ยน
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>อีเมล</td>
                            <td>{{user?.email}}</td>
                            <td>
                                <a>
                                    เปลี่ยน
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>เพศ</td>
                            <td>ชาย</td>
                            <td>
                                <a>
                                    เปลี่ยน
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>รหัสผ่าน</td>
                            <td>
                                ********
                            </td>
                            <td>
                                <a>
                                    เปลี่ยน
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>