<div class="body">
  <div class="ext-box">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12 right">
            <div>
              <div class="input-box">
                <header class="header">จัดการหมวดหมู่</header>
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <!-- ชื่อหมวดหมู่ -->
                  <div class="input-field form-group">
                    <input
                      type="text"
                      class="input"
                      id="name"
                      formControlName="name"
                      required
                    />
                    <label for="name">ชื่อหมวดหมู่</label>
                  </div>

                  <!-- ปุ่มบันทึกหมวดหมู่และย้อนกลับ -->
                  <div class="button-group">
                    <button
                      type="submit"
                      class="submit"
                      [disabled]="form.invalid"
                    >
                      บันทึกหมวดหมู่
                    </button>
                    <button
                      type="button"
                      class="submit"
                      (click)="goToCategories()"
                    >
                      ย้อนกลับ
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
