<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">เพิ่มสินค้า</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <div class="container">
        <div class="row main-row">

          <div class="col-md-6">
            <h4 class="ms-3 mt-3">รูปภาพสินค้า</h4>
            <div class="d-flex flex-row image row ms-3 mt-3 mb-3 border rounded">
              <div *ngIf="selectedFile.length > 0" class="col-12 d-flex flex-wrap gap-2 mt-2">
                <div *ngFor="let file of selectedFile; index as i" class="position-relative">
                  <img [src]="imagePreview[i]" class="product-img-preview" (click)="removeFile(i)" appImgValidate>
                </div>
              </div>

              <div class="upload d-flex justify-content-center">
                <label class="btn btn-primary upload-btn m-2 d-flex" for="menu-image">
                  <i class='bx bx-plus'></i> เพิ่มรูปภาพสินค้า
                </label>
                <input type="file" class="form-control-file" id="menu-image" (change)="onImageAdd($event)" appImage />
              </div>
            </div>
          </div>

          <div class="col-md-6 right">
            <div>
              <h4 class=" mt-3">รายละเอียด</h4>
              <div class="input-box mt-1 mb-3">
                <form [formGroup]="form">
                  <div class="input-field form-group">
                    <input type="text" class="input" id="title" formControlName="title" required />
                    <label for="title">ชื่อสินค้า</label>
                  </div>


                  <div class="input-field form-group">
                    <input type="number" class="input" id="quantity" formControlName="quantity" required />
                    <label for="quantity">จำนวนสินค้า</label>
                  </div>


                  <div class="input-field form-group">
                    <input type="number" class="input" id="price" formControlName="price" required />
                    <label for="price">ราคา</label>
                  </div>


                  <div class="input-field form-group">
                    <textarea class="input" id="description" formControlName="description" required rows="4"></textarea>
                    <label for="description">คำอธิบาย</label>
                  </div>

                  <div class="input-field form-group">
                    <select id="category" formControlName="category" required class="input category">
                      <!-- <option value="" disabled selected></option> -->
                      <option *ngFor="let category of categories" [value]="category.id">
                        {{ category.name }}
                      </option>
                    </select>
                    <label for="category">หมวดหมู่สินค้า</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="button-group mt-3 mb-3">
          <button type="submit" class="submit" (click)="submit()" [disabled]="form.invalid">
            บันทึกสินค้า
          </button>
          <button type="button" class="cancel" data-bs-dismiss="modal">
            ย้อนกลับ
          </button>
        </div>

      </div>
    </div>
  </div>
</div>