<app-navbar></app-navbar>
<div class="user-page">
    <div class="user-storage" *ngIf="user; else noUserTemplate">
        <div class="storage" *ngIf="storage; else noStorageTemplate">
            <h3 class="storage-header text-center">รายการสินค้า</h3>
            <div class="card all-item shadow-sm card-body">
                <div class="card item-card p-3 shadow-sm">
                    <div class="card-body" *ngFor="let item of storage; index as i">
                        <div class="row">
                            <div class="col-3">
                                <img src="assets/SUT-Logo.png" class="card-img">
                            </div>
                            <div class="col-5 item-title">
                                <span class="product-title">{{item.title}}</span>
                            </div>
                            <div class="col-2 repeat-buy">
                                <button><i class="bx bx-cart-alt"></i> สั่งซื้อ</button>
                            </div>
                            <div class="col-2 review">
                                <button>
                                    รีวิวสินค้า
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noStorageTemplate>
            <div class="no-storage-page text-center">
                <h3 class="mt-3 text-muted">ไม่พบประวัติสินค้า</h3>
                <button class="no-user-login">สั่งซื้อสินค้า</button>
              </div>
        </ng-template>
    </div>
</div>
<ng-template #noUserTemplate>
    <div class="no-user-page text-center">
      <h3 class="mt-3 text-muted">ไม่พบข้อมูลผู้ใช้งาน</h3>
      <h5 class="mt-5 text-muted">กรุณาเข้าสู่ระบบ</h5>
      <button class="no-user-login">เข้าสู่ระบบ</button>
    </div>
</ng-template>

<app-footer></app-footer>