<app-navbar></app-navbar>
<div class="user-page">
  <div class="user-storage" *ngIf="user; else noUserTemplate">
    <div class="storage-container">
      <div class="sidenav">
        <app-user-sidenav></app-user-sidenav>
      </div>
      <div class="storage-content">
        <div class="storage-history">
          <!-- Page -->
          <div class="storage" *ngIf="userStoragePage == 0">
            <app-storage></app-storage>
          </div>
          <div class="history" *ngIf="userStoragePage == 1">
            <app-history></app-history>
          </div>
          <div class="favourite" *ngIf="userStoragePage == 2">
            <app-favourite></app-favourite>
          </div>
          <div class="user" *ngIf="userStoragePage == 3">
            <app-user></app-user>
          </div>
          <div class="address" *ngIf="userStoragePage == 4">
            <app-address></app-address>
          </div>
          <div class="add-address" *ngIf="userStoragePage == 5">
            <app-add-address></app-add-address>
          </div>
          <div class="edit-address" *ngIf="userStoragePage == 6">
            <app-edit-address></app-edit-address>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noUserTemplate>
    <div class="no-user-page text-center">
      <h3 class="mt-3 text-muted">ไม่พบข้อมูลผู้ใช้งาน</h3>
      <h5 class="mt-5 text-muted">กรุณาเข้าสู่ระบบ</h5>
      <button class="no-user-login" (click)="userLogin()">เข้าสู่ระบบ</button>
    </div>
  </ng-template>
</div>
