.storage-nav, .user-nav {
    color: #F36523;
    cursor: pointer;
    align-items: center;
}
.user-sidenav {
  font-size: 22px;
}
.storage-nav .nav-link, .user-nav {
    cursor: pointer;
}

.storage-nav:hover .nav-link, .user-nav:hover .nav-link {
    text-decoration: none;
}

.storage-nav:hover .nav-link span, .user-nav:hover .nav-link span {
    text-decoration: underline;
    color:#F36523;
}

.user-name {
  margin-bottom: 20px;
}

.user-sidenav {
  width: 100%;
}

.nav-item .nav-link .icon {
  margin-right: 5px;
}

.nav-item .nav-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  padding: 10px;
}

.nav-link.active {
  /* font-weight: bold; */
  background-color: #e0e0e0;
  color:#F36523;
}

.sub-nav {
  padding-left: 20px;
}

.sub-nav .nav-link {
  padding: 5px 10px;
}

hr {
  margin: 20px 0;
}

.icon {
  margin-right: 8px;
}