.main-video {
  width: 100%;
  height: 100%;
}
.card {
  /* width: 24rem; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  /* cursor: pointer; */
}
.main-video video {
  position: fixed;
  z-index: -9;
  object-fit: cover;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  font-family: 'SUT', sans-serif;
}
.dashboard {
  background-color: #fff;
  border-radius: 10px;
  /* width: calc(100% - 373px); */
  margin-left: 200px;
  margin-top: 1%;
}

.day-range {
  border: false;
  cursor: pointer;
  width: 50%;
}
.dashboard-card-label, .dashboard-card-unit{
  font-size: 22px;
  display: flex;
  align-items: center;
}
.dashboard-card-information {
  font-size: 49px;
}
.select-date {
  width: 30%
}
.date {
  width: 25%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  cursor: pointer;
}
.date:hover {
  border-color: #007bff;
  background-color: #f0f8ff;
  cursor: pointer;
}

.date:focus {
  border-color: #0056b3;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}
.medal-gold {
  color: gold;
}
.medal-silver {
  color: silver 
}
.medal-copper {
  color: #B87333;
}
.bx-medal, .first-title, .second-title, .third-title, .select-range {
  font-size: 22px;
}
.btn-check:active {
  border-color: #fff;
}
.select-range:hover {
  background-color: #F36523;
  color: #fff;
}
input[type="radio"]:checked+label {
  background-color: #f97131;
  border: none ;
  color: #fff;
}
.dashboard-header {
  font-size: 28px;
}