.card {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  /* cursor: pointer; */
  /* height: 100px; */
}
.body {
  background: linear-gradient(
    205deg,
    rgba(255, 127, 80, 0.5),
    /* สีส้มที่มีความโปร่งใส */ rgba(255, 179, 71, 0.2),
    /* สีส้มอ่อนๆ ที่มี opacity น้อย */ rgba(255, 255, 255, 0.9)
      /* สีขาวที่มี opacity น้อย */
  );

  background-size: cover; /* ทำให้แบ็คกราวด์ครอบคลุมเต็มหน้าจอ */
  background-position: center; /* ตั้งแบ็คกราวด์ให้อยู่ตรงกลาง */
  background-attachment: fixed; /* ทำให้พื้นหลังไม่เลื่อนตามการเลื่อนหน้า */
  height: 100vh; /* ความสูงเต็มหน้าจอ */
  width: 100%; /* ความกว้างเต็มหน้าจอ */
  display: flex; /* ใช้เพื่อให้สามารถจัดตำแหน่งภายในได้ */
  justify-content: center; /* จัดตำแหน่งแนวนอน */
  align-items: center; /* จัดตำแหน่งแนวตั้ง */
}

.container {
  font-family: "SUT", sans-serif;
}
.dashboard {
  background-color: #fff;
  border-radius: 10px;
  /* width: calc(100% - 373px); */
  margin-left: 200px;
  margin-top: 1%;
}

.day-range {
  border: false;
  cursor: pointer;
  width: 50%;
}
.dashboard-card-label,
.dashboard-card-unit {
  font-size: 22px;
  display: flex;
  align-items: center;
}
.dashboard-card-information {
  font-size: 49px;
}
.select-date {
  width: 30%;
}
.date {
  width: 25%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  cursor: pointer;
}
.date:hover {
  border-color: #007bff;
  background-color: #f0f8ff;
  cursor: pointer;
}

.date:focus {
  border-color: #0056b3;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}
.medal-gold {
  color: gold;
}
.medal-silver {
  color: silver;
}
.medal-copper {
  color: #b87333;
}
.bx-medal,
.first-title,
.second-title,
.third-title,
.select-range {
  font-size: 22px;
}
.btn-check:active {
  border-color: #fff;
}
.select-range:hover {
  background-color: #f36523;
  color: #fff;
}
input[type="radio"]:checked + label {
  background-color: #f97131;
  border: none;
  color: #fff;
}
.dashboard-header {
  font-size: 28px;
}
