.add-address-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFDDBE;
    padding-top: calc(var(--navbar-height, 70px));
    max-width: 1920px;
    font-family: 'SUT', sans-serif;
    font-size: larger;
}

.add-address-container {
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 850px;
    background-color: white;
    margin-top: 90px;
    margin-bottom: 50px;
    border-radius: 10px; /* เพิ่ม border-radius เพื่อความโค้งมน */
}

.form-container {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.form-group {
    padding: 4px;
}

.form-group label {
    font-size: medium;
    margin-bottom: 5px;
    display: inline-block;
}

.form-group input {
    width: 75%;
    height: 40px;
    padding: 8px;
    font-size: medium;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group input:focus {
    border-color: #F36523;
    outline: none;
    box-shadow: 0 0 4px rgba(243, 101, 35, 0.4);
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 0;
    border: 1px solid #ddd;
}

.input-field .form-group input,
.input-field .form-group .dropdown a {
    height: 40px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px; /* เพิ่ม border-radius เพื่อความโค้งมน */
    padding: 5px 10px; /* เพิ่ม padding ให้ input */
}

.input-field .form-group {
    margin-bottom: 20px;
}

.input-field .dropdown .dropdown-toggle {
    height: 40px;
    line-height: 40px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #000;
    min-width: 120px;
    width: auto;
    max-width: 175px;
    white-space: nowrap;
    border-radius: 5px; /* เพิ่ม border-radius */
    padding: 0 10px; /* เพิ่ม padding */
}

@media (max-width: 768px) {
    .input-field .form-group input,
    .input-field .form-group .dropdown a {
        height: 30px;
        padding: 5px; /* ปรับ padding ให้เหมาะกับหน้าจอขนาดเล็ก */
    }
}

.form-submit-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.add-btn {
    width: 75px;
    max-width: 100%;
    padding: 5px;
    background-color: #F36523;
    color: white;
    border: none; /* เปลี่ยน border เป็น none */
    border-radius: 10px;
    cursor: pointer; /* เพิ่ม cursor pointer เพื่อให้ดูคลิกได้ */
    transition: background-color 0.3s; /* เพิ่ม transition เพื่อความสวยงาม */
}

.add-btn:hover {
    background-color: #e0521e; /* เปลี่ยนสีปุ่มเมื่อ hover */
}
