.upload-btn {
    background: #F36523;
    border-radius: 10px;
    border: none;
  }
.form-control-file {
    display: none;
}
.modal-dialog {
  font-family: 'SUT', sans-serif;
}
.total-description {
  font-size: 28px;
  font-weight: bold;
}
.total-money {
  font-size: 32px;
  font-weight: bold;
  color: #F36523;
}
.date {
  width: 25%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}
.custom-flatpickr {
  width: 150px !important;
}
.date:hover {
  border-color: #007bff;
  background-color: #f0f8ff;
  cursor: pointer;
}

.date:focus {
  border-color: #0056b3;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}
.hr, .min {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.hr:hover, .min:hover {
  border-color: #007bff;
  background-color: #f0f8ff;
}

.hr:focus, .min:focus {
  border-color: #0056b3;
  outline: none;
  background-color: #ffffff;
}

.four-digits, .total-text, .destination-bank, .origin-bank {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.main-btn {
  background-color: #F36523;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
  width: 90px;
}
.main-btn:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.secondary-btn {
  background-color: white;
  color: #F36523;
  font-size: 22px;
  font-weight: 700;
  border-radius: 10px;
  border-color: #F36523;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 90px;
  /* border: none; */

}
.secondary-btn:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
